  <div class="stats-container">

    <!-- Offensive Stats Table -->
    <div class="stats-section">
      <ag-grid-angular
        style="width: 100%; height: 100px;"
        class="ag-theme-quartz"
        [gridOptions]="gridOptions"
        [rowData]="rowDataOffensive"
        [columnDefs]="columnDefsOffensive"
        (gridReady)="onGridReadyOffensive($event)"
        >
      </ag-grid-angular>
    </div>

    <!-- Defensive Stats Table -->
    <div class="stats-section">
      <ag-grid-angular
        style="width: 100%; height: 100px;"
        class="ag-theme-quartz"
        [gridOptions]="gridOptions"
        [rowData]="rowDataDefensive"
        [columnDefs]="columnDefsDefensive"
        (gridReady)="onGridReadyDefensive($event)"
        >
      </ag-grid-angular>
    </div>
  
  </div>

  <div style="text-align:center">
    <button (click)="calculate()" [disabled]="calculateBtnPressed">Calculate</button>
  </div>

  <div class="stats-container">
    <div *ngIf="!calculateBtnPressed && dataTablesReady">
    <!-- Offensive Shots Made Table -->
    <div class="stats-section">
      <ag-grid-angular
        style="width: 100%; height: 80px;"
        class="ag-theme-quartz"
        [gridOptions]="gridOptions"
        [headerHeight]="0"
        [columnDefs]="resultColumnDefsOffensiveShotsMade"
        (gridReady)="onGridReadyResultOffensiveShotsMade($event)"
        >
      </ag-grid-angular>
    </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Offensive shots made...</p>
    </div>

    <div *ngIf="!calculateBtnPressed && dataTablesReady">
      <!-- Defensive Shots Allowed Table -->
      <div class="stats-section">
        <ag-grid-angular
          style="width: 100%; height: 80px;"
          class="ag-theme-quartz"
          [gridOptions]="gridOptions"
          [headerHeight]="0"
          [columnDefs]="resultColumnDefsDefensiveShotsAllowed"
          (gridReady)="onGridReadyResultDefensiveShotsAllowed($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Defensive shots allowed...</p>
    </div>

    <div *ngIf="!calculateBtnPressed && dataTablesReady">
      <!-- Totals Table -->
      <div class="stats-section">
        <ag-grid-angular
          style="width: 100%; height: 80px;"
          class="ag-theme-quartz"
          [gridOptions]="gridOptions"
          [columnDefs]="resultColumnDefsTotals"
          (gridReady)="onGridReadyResultTotalPoints($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Totals ...</p>
    </div>

    <div *ngIf="!calculateBtnPressed && dataTablesReady">
      <!-- Over/Under Spread for Home Team -->
      <div class="stats-section">
        <ag-grid-angular
          style="width: 100%; height: 580px;"
          class="ag-theme-quartz"
          [gridOptions]="gridOptions"
          [columnDefs]="resultColumnDefsOffensiveOverSpreadHome"
          (gridReady)="onGridReadyResultOverUnderSpreadHome($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Over/Under Spread for Home Team ...</p>
    </div>

    <div *ngIf="!calculateBtnPressed && dataTablesReady">
      <!-- Over/Under Spread for Away Team -->
      <div class="stats-section">
        <ag-grid-angular
          style="width: 100%; height: 580px;"
          class="ag-theme-quartz"
          [gridOptions]="gridOptions"
          [columnDefs]="resultColumnDefsOffensiveOverSpreadAway"
          (gridReady)="onGridReadyResultOverUnderSpreadAway($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Over/Under Spread for Away Team ...</p>
    </div>

    <div *ngIf="!calculateBtnPressed && dataTablesReady">
      <!-- Over/Under for Total Points Table -->
      <div class="stats-section">
        <ag-grid-angular
          style="width: 100%; height: 1100px;"
          class="ag-theme-quartz"
          [gridOptions]="gridOptions"
          [columnDefs]="resultColumnDefsOffensiveOverTotal"
          (gridReady)="onGridReadyResultOverUnderTotals($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Over/Under for Total Points ...</p>
    </div>

    <div *ngIf="!calculateBtnPressed && dataTablesReady">
      <!-- Over/Under for Home Team Table -->
      <div class="stats-section">
        <ag-grid-angular
          style="width: 100%; height: 1100px;"
          class="ag-theme-quartz"
          [gridOptions]="gridOptions"
          [columnDefs]="resultColumnDefsOffensiveOverHome"
          (gridReady)="onGridReadyResultOverUnderHome($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Over/Under for Home Team ...</p>
    </div>

    <div *ngIf="!calculateBtnPressed && dataTablesReady">
      <!-- Over/Under for Away Team Table -->
      <div class="stats-section">
        <ag-grid-angular
          style="width: 100%; height: 1100px;"
          class="ag-theme-quartz"
          [gridOptions]="gridOptions"
          [columnDefs]="resultColumnDefsOffensiveOverAway"
          (gridReady)="onGridReadyResultOverUnderAway($event)"
          >
        </ag-grid-angular>
      </div>
    </div>
    <div *ngIf="calculateBtnPressed">
      <p>Preparing Over/Under for Away Team ...</p>
    </div>

  </div>
  


  <router-outlet />
